.email-outer {
  display: flex;
  width: 720px !important;
  border-radius: 0.5rem;
  padding: 4rem;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 12% !important;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
  width: inherit !important;
  row-gap: 1.5rem;
  justify-content: center !important;
  align-items: center !important;
}

#input-reset-email {
  width: 500px !important;
}

.info-paragraph {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  width: inherit !important;
}

@media screen and (max-width: 720px) {
  .email-outer {
    position: relative;
    left: 240px;
  }
}
